{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  {% block navbar %}
 
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      <img src="{% static 'royal/assets/images/templatemo-eduwell.png' %}" alt="EduWell Template">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                 <ul>
                                    <li class="active">
                                        <a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard' %}">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="#portfolio">Portfolio</a>
                                    </li>
                                    <li class="drop-down">
                                        <a href="">ACTIVITY</a>
                                        <ul>
                                            <li class="drop-down">
                                                <a href="#">Task Activity</a>
                                                <ul>
                                                    <li>
                                                        <a href="{% url 'addtask' %}">Add Task</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'viewtask' %}">View Task</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="drop-down">
                                                <a href="#">User Activity</a>
                                                <ul>
                                                    <li>
                                                        <a href="{% url 'adduser' %}">Add User</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'viewuser' %}">View User</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="drop-down">
                                                <a href="#">Team Activity</a>
                                                <ul>
                                                   <li>
                                                        <a href="{% url 'addteam' %}">Add Team</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'viewteam' %}">View Team</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'service' %}">Services</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact_us' %}">Contact Us</a>
                                    </li>
                                </ul>
                        
                         
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
          </div>
      </div>
  </header> 
  {% endblock navbar %}
  <!-- ***** Header Area End ***** -->


  {% block header %}
  <section >
      <div class="container">
          <div class="section-heading">
          <h6>Welcome,</h6>
           <h4>ADD YOUR <em>TASK</em></h4>
           </div>
      </div>
  </section>
   {% endblock header %}

  {% block content %}
 <section class="contact-us">
    <div class="container">
        <div class="col-lg-4">
          <form id="contact" method="post">
            <div class="row">
              <div class="col-lg-12">
                 {% csrf_token %}
                 {{form.as_p}}
                 <br>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">ADD TO LIST</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <ul class="social-icons">
           <li><a href="https://www.facebook.com/pages/category/Computer-Company/Arth-InfoSoft-Pvt-Ltd-186190281477702/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/arthinfosoft"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://in.linkedin.com/company/arth-infosoft-pvt.-ltd."><i class="fa fa-linkedin"></i></a></li>
            <li><a href="http://www.arthinfosoft.in"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 Arth Infosoft Pvt.Ltd. All Rights Reserved.</p>

        </div>
      
    </div>
  </section>
 {% endblock content %}
</body>
</html>